<h1>Albums Page</h1>
{{#each albums}}
    <p>{{ this.name }}</p>
    {{#each this.images}}
        {{#if @first}}
            <img src={{this.url}}>
        {{/if}}
    {{/each}}

<form action='/tracks/{{this.id}}' method='POST'>
    <button>View Tracks</button>
</form>
      
{{/each}}
</div>


