<h1>Artist Page</h1>
<div class='artists'>
{{#each items}}
    <p>{{ this.name }}</p>
    {{#each this.images}}
        {{#if @first}}
            <img src={{this.url}}>
        {{/if}}
    {{/each}}

<form action='/albums/{{this.id}}' method='POST'>
    <button>View Albums</button>
</form>
      
{{/each}}
</div>





