<body class='home'>
<div class="container background w-50"> 
<div class="container w-50 mt-5 pt-5 py-5">
    <h1 class="text-center">Spotify App</h1>
        <form action='/artists' method='POST'>
            <div class='form-group'>
                <label for='artist'></label>
                <input required type='text' name='artist' class="form-control" id='artist' placeholder="artist">
                <button class='btn btn-danger mx-auto d-block mt-3'>Search for an Artist</button>
            </div>
        </form>  
</div>
</div> 
</body>