<body class='home'>
    <h1>Home Page</h1>
<form action='/artists' method='POST'>
    <div class='form-group'>
        <label for='artist'></label>
        <input required type='text' name='artist' id='artist' placeholder="artist">
        <button>Search for an Artist</button>
    </div>
</form>

</body>