<!DOCTYPE html>
<!doctype html>
<html>
  <head>
      <title>Node Layout and Partials</title>
      <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>